.header {
  text-align: center;
  width: 100%;
  font-family: 'Rock Salt', sans-serif;
  margin: 0;
  font-weight: normal;
}

.introduction {
  margin: 0 20px;
}

.introduction p {
  font-family: 'Fira Sans', sans-serif;
  font-size: 30px;
  margin: 20px 0;
}

.introduction p.sub {
  font-size: 21px;
}

.introduction .highlight {
  color: #FD7F20;
  font-weight: bold;
}

.epigraph {
  font-family: 'Fira Sans', sans-serif;
}

.epigraph footer {
  color: #FD7F20;
}