html, body, #root {
  height: 100%;
}

body {
  height: 100%;
  max-width: 700px;
  margin: 0 auto;
  box-shadow: 0px 0px 10px rgba(54, 38, 36, 0.8);
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
}

.story {
  grid-row-start: 1;
  overflow-y: scroll;
}

blockquote {
  line-height: 19px;
}

blockquote p {
  font-family: 'Fira Sans', sans-serif;
}

.solicitation {
  border-bottom: 1.5px solid black;
  margin-left: 24px;
  margin-right: 24px;
  padding: 0 14px;
}

.highlight {
  color: #65463E;
  font-weight: bold;
}

.story-map-title {
  text-align: center;
  position: relative;
}

.legend {
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
}

.mint-circle {
  background-color: rgb(170,214,160, 0.7);
  padding: 5px 14px;
  border-radius: 15px;
  bottom: 21px;
  z-index: -1;
  position: relative;
}

.footer {
  grid-row-start: 2;
  background: #AAD6A0;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
  text-align: center;
}

.footer .title {
  color: rgba(0, 0, 0, 1);
  margin: 2px 0 0;
  font-family: 'Rock Salt', sans-serif;
}