html, body, #root {
  height: 100%;
}

.container {
  height: 100%;
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 1fr auto;
}

.footer {
  grid-row-start: 2;
  background: #AAD6A0;
  box-shadow: 0px 3px 10px rgba(0,0,0,0.5);
  text-align: center;
}

.footer .title {
  color: rgba(0, 0, 0, 1);
  margin: 2px 0 0;
  font-family: 'Rock Salt', sans-serif;
}