.hello-stranger .encounters-map {
  height: 100%;
}

.encounters-map .epigraph {
  font-family: 'Libre Caslon Text', 'Times New Roman', Times, serif;
  line-height: 1.75;
  font-size: 18px;
  padding: 10px 0px;
  margin: 0;
}