.hello-stranger .encounters {
  height: 100%;
}

.encounters .map {
  height: 100%;
}

.map .popup .leaflet-popup-content {
  margin-bottom: 22px;
}

.encounters .map .anecdote {
  font-family: "Fira Sans",sans-serif;
  line-height: 1.5em;
  font-size: 17px;
  font-weight: 100;
  margin: 30px 12px 10px;
}

.map .pills {
  text-align: center;
  font-size: 18px;
}

.pills a {
  margin: 0 20px;
}

.pills .say-hello {
  color: #FF0000;
}

.pills .next {
  color: #1E488E;
}