.hello-stranger .encounters {
  height: 100%;
}

.encounters ul.tiles {
  height: 100%;
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.tiles li.tile:first-child {
  margin-top: 40px;
}

ul.tiles li.tile {
  margin: 20px auto;
  width: 95%;
  position: relative;
  box-shadow: 0px 0px 12px rgba(0,0,0,0.3);
}

li.tile p.encounter {
  z-index: 500;
  font-family: 'Libre Caslon Text', 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 40px;
  padding: 20px 40px;
  margin: 0;
  position: relative;
}