.hello-stranger .encounters {
  height: 100%;
}

.encounters .map {
  height: 100%;
}

.map .stranger-popup .leaflet-popup-content {
  text-align: center;
  margin-bottom: 20px;
}

.map .encounter-paraphrase {
  padding: 0;
  margin: 12px 20px;
}

.encounters .map .epigraph {
  font-family: "Fira Sans",sans-serif;
  line-height: 1.5em;
  font-size: 14px;
  text-align: initial;
  font-weight: 400;
  margin-bottom: 12px;
}

.map .wave {
  font-size: 32px;
  text-decoration: none;
}

.map .wave {
  animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
  animation-duration: 2.5s;        /* Change to speed up or slow down */
  animation-iteration-count: infinite;  /* Never stop waving :) */
  transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
  display: inline-block;
}

@keyframes wave-animation {
  0% { transform: rotate( 0.0deg) }
 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
 20% { transform: rotate(-8.0deg) }
 30% { transform: rotate(14.0deg) }
 40% { transform: rotate(-4.0deg) }
 50% { transform: rotate(10.0deg) }
 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
100% { transform: rotate( 0.0deg) }
}

.map .say-hello {
  font-size: 16px;
  padding: 7px;
  border-radius: 5px;
  color: black;
  background-color: #00B4D1;
  text-decoration: none;
  box-shadow: 2px 2px 0.5px rgba(0,0,0,0.1);
}

.say-hello .hello {
  font-weight: 700;
  text-shadow: 0.5px 0.5px 1px rgba(20, 20, 20, 0.5);
  color: white;
  font-style: italic;
}

.encounters .legend {
  position: fixed;
  z-index: 500;
  bottom: 10px;
  right: 10px;
  background-color: rgba(244, 244, 244, 0);
  border: 0.5px dashed rgba(20, 20, 20, 0.2);
  border-radius: 5px;
  margin: 0;
  padding: 0px 10px 5px 5px;
  text-align: left;
}

.legend p {
  margin: 0;
  font-weight: normal;
  font-size: 20px;
  vertical-align: super;
}

.legend .spot {
  font-size: 26px;
}

