.story .body {
  margin-top: 18px;
}

blockquote {
  line-height: 19px;
}

blockquote p {
  font-family: 'Fira Sans', sans-serif;
}

.story .title {
  font-family: 'Fira Sans', sans-serif;
  margin: 5px 12px;
  font-weight: 500;
  color: black;
  position: absolute;
  top: 80px;
  z-index: 600;
  font-size: 40px;
}

.narrative {
  margin: 0 24px 24px;
}

.narrative p {
  font-family: 'Libre Caslon Text', 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 34px;
  color: black;
}