.story {
  margin-top: 18px;
}

.story .title {
  font-family: 'Fira Sans', sans-serif;
  margin: 5px 12px;
  font-weight: 500;
  color: black;
  position: absolute;
  top: 180px;
  z-index: 600;
  font-size: 40px;
}

.story .by-line {
  font-family: 'Fira Sans', sans-serif;
  margin: 5px 12px 0;
  font-weight: normal;
}

.story .italics {
  font-style: italic;
}

.overture .epigraph {
  font-family: 'Fira Sans', sans-serif;
  line-height: 19px;
}

.story .disclaimer {
  font-size: 14px;
  margin: 0;
  padding: 25px 25px 30px;
  text-align: center;
  background-color: #DAE9CB;
}

.story .narrative {
  margin: 0 24px 24px;
}

.narrative p {
  font-family: 'Libre Caslon Text', 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 34px;
  color: black;
}