.story .body {
  margin-top: 18px;
}

.story .title {
  font-family: 'Fira Sans', sans-serif;
  margin: 5px 12px;
  font-weight: 500;
  color: black;
  position: absolute;
  top: 180px;
  z-index: 600;
  font-size: 40px;
}

.story .by-line {
  font-family: 'Fira Sans', sans-serif;
  margin: 5px 12px 0;
  font-weight: normal;
}

.overture .epigraph {
  font-family: 'Fira Sans', sans-serif;
  line-height: 19px;
}

.overture .fine-print {
  font-size: 12px;
  margin: 20px -40px 15px;
  padding: 12px 35px 15px;
  background-color: #DAE9CB;
}

.narrative {
  margin: 0 24px 24px;
}

.narrative p {
  font-family: 'Libre Caslon Text', 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 34px;
  color: black;
}